:root {
    --main-font: Roboto, sans-serif;
    --secondary-font:Raleway, sans-serif;
  --accent-color: #2196f3;
  --black-logo: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color:  #FFFFFF;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    }
    .header {
      border-bottom: 1px solid #ececec;
    }
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .container-header {
      width: 1600px;
      height: 80px;
    
      }
.logo {
        font-family: var(--secondary-font);
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        color:var(--black-logo);
        text-decoration: none;
     }
.accent {
        color:var(--accent-color);
      }

  .site-nav:not(:last-child) {
    margin-right: 50px;    
  }
  
  .header-site-link {
    display: flex;
  }
   .site-nav {
    display: flex;
    margin-left: 93px;
    
  }
.site-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--title-text-color);
  list-style: none;
  display: flex;
  font-style: normal;
}
.footer-site .site-navigation .address,
.footer-site .site-navigation .email,
.footer-site .site-navigation .telefon {
  line-height: 1.71;
}

.site-navigation a:hover,
.site-navigation a:focus  {
  color:var(--accent-color);
}

.site-nav a {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color:var(--title-text-color);
        list-style: none;
        display: flex;
        
      }
.header-site-nav {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    
}
.site-nav a:hover,
.site-nav a:focus
{
    color:var(--accent-color);
}
    .list { list-style: none;}
    .link {text-decoration: none;}
    li {
        list-style-type: none; 
      }
      a {
        text-decoration: none; 
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
.email  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    margin-right: 50px;
    margin-left: auto;
    
}
.email:hover,
.email:focus,
.address:hover,
.address:focus
{color:var(--accent-color);
}
.address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    list-style: none;
    color:var(--primary-text-color);
    display: flex;
    align-items: center;
    
  }
  .container-address {
    display: flex;
    margin-left: auto;
    margin-top: 32px;
    
  }
  .konvert-smartfone-svg {
    margin-right: 10px;
    fill: currentcolor;
    align-items: center;
  }
.hero {
    background-color: rgba(47, 48, 58, 0.4) ;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Herrofoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}  
.container-hero {
  max-width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
} 
button{
         font-family: inherit;
         margin-left: auto;
         margin-right: auto;
     }
.adress {
    font-style: normal;
}
.list-servises {
  display: flex; 
}
.servises::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.servises:nth-child(1)::before {
  background-image: url(../img/antenna.svg);
}

.servises:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}

.servises:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}

.servises:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}

.servises-list {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
}
.servises-list-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
}
.servises-list-item:not(:last-child) {
  margin-right: 30px;    
}
.content {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
}
.list-work {
  padding-bottom: 94px;
  padding-top: 50px;
}
.list-work:not(:last-child) {
  margin-right: 30px;
}
.list .list-workers {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.workers {
  background: #f5f4fa;
}
.container-workers {
  padding-bottom: 94px;
}
.container .content {
 padding-top: 94px;
 padding-bottom: 50px;
}
.name-workers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.worker {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 30px;
}
.social-list-link{
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex; 
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color:var(--accent-color)
}
.social-list-link .social-svg:hover ,
.social-list-link .social-svg :focus {
  fill: var(--primary-white-color);
}
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.clients-item {
  Width: 170px;
  Height: 90px;    
}
.clients-section {
  padding-bottom: 106px;
  padding-top: 94px ;
}
.clients-icon {
  fill: currentcolor;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  Width: 170px;
  Height: 90px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color) ;
  box-sizing: border-box; 
  color: var(--accent-color);
}


.portfolio-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
    background-color: #f5f4fa;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    border-style: none;
    text-transform: none;
    box-sizing: border-box;
}
.container-ourworks-button {
  padding-top: 94px;
  padding-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  c
}
 .portfolio-btn:not(:last-child) {
  margin-right: 8px;    
}
    
.portfolio-btn:hover,
.portfolio-btn:focus{
	background:var(--accent-color);
	color:var(--primary-white-color);
	
}
.our-works {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-text-color);
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.our-work-item {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}
.title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
    text-transform: uppercase;
   
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 200px;
}
.title-button{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-white-color);
    background:var(--accent-color); 
    width: 200px;
    height: 50px;
    display: block;
    justify-content: center;
    border-radius: 4px;
    border: none;
    
}
.footer {
    background: #2F303A;
  
}
.footer .address,
.footer .email {
    color: var(--primary-white-color);
    font-style: normal;
    line-height: 1.71;
}
.container-footer {
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.our-works-box {
    display: block;
}
.footer .logo {
    color:var(--primary-white-color);
    display: flex;
    padding-bottom: 20px;
}
.right-footer h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.right-footer {
  pading-top: 72px;
  margin-left: 70px;
}
.social-list-footer {

  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);;
  fill: var(--primary-white-color);
}
.li-link:not(:last-child) {
  margin-right: 10px;
}
.social-list-link-footer:hover {
  background-color: var(--accent-color);
 
}
.social-list-link-footer:hover .social-svg {
  fill: var(--primary-white-color);

}

img {
    display: block;
  }
  .container-header {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content:flex-start;

  }
  .naigation {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
    .container-servises {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
   }
  .servises {
    width: 270px;
    margin-right: 30px;
  }
  .footer-site {
    display: block;
  }
  .site-navigation .email,
  .site-navigation .telefon {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .our-works-box {
    width 370px;
    background: #ffffff;
  }
  .our-works-box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .container-ourworks .our-works-box {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-works-box > our-works-box-item {
    width: 322px;
    height: 70px;
    padding: 20px 24px;
    
  }
  .container-ourworks .list > li:nth-child(3n) {
    margin-right: 0px;
  }
  .container-ourworks .list > li:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  .container-ourworks {
    margin-bottom: 94px;
  }